h1 {
    margin: 0;
    padding: 0;
  }
.navbar {
    height: 12em;  
    background-image: url('/src/assets/DomeBW2.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.header-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    width: 50%;
    max-height: 100%;
}

.header {
    margin-left: .25em;
}

#header-title {
    position: absolute;
    z-index: 1;
    font-family: neue-kabel, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    font-style: normal;
    letter-spacing: .1em;
    color: #ffa600;
    -webkit-text-stroke: 6px #F26938;
    /* -webkit-text-stroke: 10px #132857; */
}

#header-title-front {
    position: absolute;
    z-index: 2;
    font-family: neue-kabel, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    font-style: normal;
    letter-spacing: .1em;
    color: #132857;

}

.header-right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    max-height: 100%;
}

.nav-center {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    font-family: "reross-quadratic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1A1D26; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

#navspacing {
    display: flex;
    flex-direction: row;
    width: 95%;
}

.header-link {
    display: flex;
    justify-content: center;
    width: 20%;
    
}

  .navbar-brand:hover {
    color: #1A1D26;

  }
  
  .navbar-brand.active {
    text-decoration: underline; 
  }

  .shaded {
    display: flex;
    justify-content: center;
    margin-right: 1em;
    border-radius: 25px;
    background-color: #F26938;
    opacity: .85;
    width: 75%;
  }



  /* Color Theme Swatches in Hex */
/* .Stros-1-hex { color: #DCC9C2; } beige
.Stros-2-hex { color: #1A1D26; } dark gray
.Stros-3-hex { color: #F26938; } orange
.Stros-4-hex { color: #F25430; } dark orange
.Stros-5-hex { color: #1A1D26; } lighter gray*/