.navbar {
    height: 12em;  
    background-image: url('./src/assets/DomeBW2.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-end;
}

.header-left {
    width: 50%;
}

#header-title {
    font-family: neue-kabel, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    font-style: normal;
    letter-spacing: .1em;
    color: #ffa600;
}

.baseline {
    display: flex;
    align-items: flex-end;
}

.container-fluid {
    flex-direction: column;
    align-items: flex-end !important;
    justify-content: baseline;
    width: 50%;
}

.nav-center {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    font-family: "reross-quadratic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1A1D26; /* Default color for navigation links */
    text-decoration: none; /* Remove default underline */
    transition: color 0.3s ease; /* Smooth transition for color change */
    /* width: 20%; */

}

#navspacing {
    display: flex;
    flex-direction: row;
    width: 95%;
}

.header-link {
    display: flex;
    justify-content: center;
    width: 20%;
    
}

  .navbar-brand:hover {
    color: #1A1D26; /* Color change on hover */

  }
  
  .navbar-brand.active {
    text-decoration: underline; /* Underline the active link */
  }

  .shaded {
    border-radius: 25px;
    background-color: #F26938;
    opacity: .85;
    width: 65%;
  }



  /* Color Theme Swatches in Hex */
/* .Stros-1-hex { color: #DCC9C2; } beige
.Stros-2-hex { color: #1A1D26; } dark gray
.Stros-3-hex { color: #F26938; } orange
.Stros-4-hex { color: #F25430; } dark orange
.Stros-5-hex { color: #1A1D26; } lighter gray*/